.user-bar {
  background-color: #f8f9fa;
  color: #495057;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.1);
}

.user-info {
  display: flex;
  align-items: center;
  flex-grow:2;
  gap:2em;
  color: #4e4e4e;
}

.user-info span, .user-info .my-events {
  margin-right: 20px;
 
}

.user-bar .my-events {
  font-weight: bold;
  color: #3f9cff;
  text-decoration: none;
}
.my-events > *{
  text-decoration: none;
  color: #4e4e4e;
  font-weight:lighter;
}
.user-bar button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  border: none;
  border-radius: 0.3rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: auto;
}



.user-bar button:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
